.row {
	margin-left: 15px;
}
.form-group{
	margin-bottom: 0px;
}
.graph{
	width: 100%;
	height: 1000px;
	background-color: #251e1e;
}
.nodegroup{
	fill: white;
	stroke: black;
	stroke-width: 2px;
}

.nodelabel{
	pointer-events: none;
	fill: black;
	text-anchor: middle;
	pointer-events: none;
  	user-select: none;
}
.edge{
	fill: transparent;
	stroke: white;
	stroke-width: 3px ;
}
.arrow {
  fill: white;
}
.edge-weight{
	fill: white;
}
.modal-body p {
	margin: 0!important;
}